<a href="{{direccion}}" class="w-min flex justify-center items-center gap-2" style="transform:scaleY(0.80)">
	{{#if confirmcircle}}
    <span class="bg-{{color}} rounded-full w-{{circlex}} h-{{circley}}"></span>
	{{/if}}
    <span class="flex w-min justify-center flex-col items-center">
		<h1
			class="text-[{{fontsize}}rem] font-brygada text-{{color}} style-logo"
		>ILICITO</h1>
	</span>
</a>