<section class="flex flex-col w-max">
    <div>
        <h1 class="text-2xl">Tickets</h1>
        <p>Administra los tickets de los pedidos</p>
    </div>
    <div class="flex w-full h-full text-gray-400">
        <div class="flex flex-col w-max">
            <div class="shadow rounded-lg overflow-x-auto">
                <table class="w-max border-collapse block md:table">
                    <thead class="block md:table-header-group">
                        <tr class="border border-grey-500 md:border-none block md:table-row absolute -top-full md:top-auto -left-full md:left-auto md:relative">
                            <th scope="col" class="bg-gray-800 p-2 text-white md:border md:border-grey-500 text-left block md:table-cell">#id</th>
                            <th scope="col" class="bg-gray-800 p-2 text-white md:border md:border-grey-500 text-left block md:table-cell">Fecha</th>
                            <th scope="col" class="bg-gray-800 p-2 text-white md:border md:border-grey-500 text-left block md:table-cell">Code</th>
                            <th scope="col" class="bg-gray-800 p-2 text-white md:border md:border-grey-500 text-left block md:table-cell">Correo</th>
                            <th scope="col" class="bg-gray-800 p-2 text-white md:border md:border-grey-500 text-left block md:table-cell">Total</th>
                            <th scope="col" class="bg-gray-800 p-2 text-white md:border md:border-grey-500 text-left block md:table-cell">Acciones</th>
                        </tr>
                    </thead>
                    <tbody class="block md:table-row-group">
                        {{#each admin.tickets}}
                            <tr class="bg-white border border-grey-500 md:border-none block md:table-row">
                                <td class="p-2 text-nowrap overflow-hidden md:border md:border-grey-500 text-left block md:table-cell"><span class="text-blue-800 font-bold inline-block w-2/12 md:hidden">#id: </span>{{this._id}}</td>
                                <td class="p-2 text-nowrap overflow-hidden md:border md:border-grey-500 text-left block md:table-cell"><span class="text-blue-800 font-bold inline-block w-2/12 md:hidden">Fecha: </span>{{this.purchase_datetime}}</td>
                                <td class="p-2 text-nowrap overflow-hidden md:border md:border-grey-500 text-left block md:table-cell"><span class="text-blue-800 font-bold inline-block w-2/12 md:hidden">Code: </span>{{this.code}}</td>
                                <td class="p-2 text-nowrap overflow-hidden md:border md:border-grey-500 text-left block md:table-cell"><span class="text-blue-800 font-bold inline-block w-2/12 md:hidden">Correo: </span>{{this.purchaser}}</td>
                                <td class="p-2 text-nowrap overflow-hidden md:border md:border-grey-500 text-left block md:table-cell"><span class="text-blue-800 font-bold inline-block w-2/12 md:hidden">Total: </span>${{this.amount}}</td>
                                <td class="p-2 text-nowrap overflow-hidden md:border md:border-grey-500 text-left block md:table-cell">
                                    <span class="text-blue-800 font-bold inline-block w-2/12 md:hidden">Acciones: </span>
                                    <button class="hidden bg-yellow-500 hover:bg-yellow-700 text-black py-2 px-4" onclick="putProduct('{{this._id}}')">Actualizar</button>
                                    <button class="bg-red-500 hover:bg-red-700 text-black py-2 px-4" onclick="deleteProduct('{{this._id}}')">Eliminar</button>
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <div class="hidden gap-6 justify-center items-center mt-2">
                <a class="p-2 text-sm font-medium rounded bg-sky-950 text-white" href="{{admin.prevLink}}">Anterior</a>
                <span class="p-2 text-sm font-medium rounded bg-blue-950 text-white">{{admin.actualLink}}</span>
                <a class="p-2 text-sm font-medium rounded bg-sky-950 text-white" href="{{admin.nextLink}}">Siguiente</a>
            </div>
        </div>
    </div>
</section>
<script>
    const putProduct = async (tid) => {
        try {
            const response = await fetch(`/api/tickets/${tid}`, {
                method: 'PUT'
            });

            if (response.ok) {
                window.location.href = `${window.location.pathname}?status=success&id=${tid}`;
            } else {
                window.location.href = `${window.location.pathname}?status=error&id=${tid}`;
            }
        } catch (error) {
            console.error('Error:', error);
            window.location.href = `${window.location.pathname}?status=error&id=${tid}`;
        }
    };

    const deleteProduct = async (tid) => {
        try {
            const response = await fetch(`/api/tickets/${tid}`, {
                method: 'DELETE'
            });

            if (response.ok) {
                window.location.href = `${window.location.pathname}?status=success&id=${tid}`;
            } else {
                window.location.href = `${window.location.pathname}?status=error&id=${tid}`;
            }
        } catch (error) {
            console.error('Error:', error);
            window.location.href = `${window.location.pathname}?status=error&id=${tid}`;
        }
    };
</script>