<div class="flex w-screen h-screen text-gray-400 bg-gray-900">
  {{> header_dash}}

  <div class="flex flex-col flex-grow">
    <div
      class="flex items-center flex-shrink-0 h-16 px-8 border-b border-gray-800"
    >
      <h1 class="text-lg font-medium">ACTULIZAR PRODUCTO</h1>
    </div>
    <div class="flex-grow p-6 overflow-auto bg-gray-800">
      <div class="flex gap-4">
        {{!-- Form --}}
        <div>
          <form id="product-form-put" class="flex flex-col gap-4" enctype="multipart/form-data">
          <input
            type="text"
            name="title"
            id="title-put"
            placeholder="Titulo de producto"
            class="border-none outline-none text-black px-4 py-2"
            value="{{product.title}}"
          />
          <textarea
            name="description"
            id="description-put"
            class="border-none outline-none text-black px-4 py-2 resize-none h-32"
            placeholder="Descripción del producto"
          >{{prodesc}}</textarea>
          <input
            type="text"
            name="code"
            id="code-put"
            placeholder="Codigo del producto: 123d1AS"
            class="border-none outline-none text-black px-4 py-2"
            value="{{product.code}}"
          />
          <input
            type="number"
            name="price"
            id="price-put"
            placeholder="Precio del producto: 112233"
            class="border-none outline-none text-black px-4 py-2"
            min="0" pattern="^[0-9]+"
            value="{{product.price}}"
          />
          <input
            type="number"
            name="stock"
            id="stock-put"
            placeholder="Stock del producto: 12"
            class="border-none outline-none text-black px-4 py-2"
            min="0" pattern="^[0-9]+"
            value="{{product.stock}}"
          />
          <input
            type="text"
            name="category"
            id="category-put"
            placeholder="mujer,hombre,buzos,remera,etc..."
            class="border-none outline-none text-black px-4 py-2"
            value="{{product.category}}"
          />
          <input id="file-put" type="file" name="photos" multiple onchange="previewImages(event)"/>
          <span
            id="submit-put"
            value=""
            class="border-none outline-none px-4 py-2 bg-gray-700 text-white cursor-pointer hover:bg-gray-600 transition-all duration-300 ease-in-out"
          >Actualizar Producto</span>
        </form>
        </div>
        {{!-- Preview --}}
        {{!-CARD--}}
        <div>
          <div
            class="relative rounded-lg overflow-hidden w-[200px] text-black"
          >
            {{#if exist_product}}
            <img class="card-img w-full" src="../image/products/{{product.photo.[0]}}" alt="imagen nuevo producto" id="img-card-put"/>
            {{else}}
            <img class="card-img w-full" src="../image/c01.jpg" alt="imagen nuevo producto" id="img-card-put"/>
            {{/if}}
            <div
              class="absolute w-full bg-white bottom-0 flex flex-col justify-between p-4 min-h-20 gap-2"
            >
              <div>
                {{#if exist_product}}
                 <h3 class="text-xs font-bold" id="title-card-put">{{product.title}}</h3>
                <p id="price-card-put">$ {{product.price}}</p>
                {{else}}
                <h3 class="text-xs font-bold" id="title-card-put">Titulo de Producto</h3>
                <p id="price-card-put">$ 112233</p>
                {{/if}}
              </div>
            </div>
          </div>
        </div>
        {{!-- IMAGES PROD---}}
        <div class="h-[530px] w-[600px] flex overflow-x-hidden border bg-gray-200" id="image-preview-put">
          {{#if exist_product}}
            {{#each product.photo}}
            <div class="w-full h-full" style="background: url('../image/products/{{this}}') no-repeat center center / cover"></div>
            {{/each}}
          {{else}}
            <h1>PREVIEW IMAGENES, SOLO SE PERMITE 4 IMAGENES</h1>
          {{/if}}
        </div>
      </div>
        {{!-- SITE PROD---}}
        <div class="w-full h-max">
        </div>
    </div>
  </div>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="../../js/admin/{{js}}"></script>
